system.conf.node.id=N01
system.conf.workmode=Development

##########################################################################################

tikv.conf.pds.servers=10.0.11.101:2379,10.0.11.102:2379,10.0.11.103:2379
tikv.conf.pds.gateways=10.0.11.101:9099

##########################################################################################

kafka.conf.bootstrap.servers=10.0.11.101:9092,10.0.11.102:9092,10.0.11.103:9092
kafka.conf.producer.acks=all
kafka.conf.producer.retries=0
kafka.conf.producer.batch.size=16384
kafka.conf.producer.linger.ms=1
kafka.conf.producer.buffer.memory=10485760
kafka.conf.producer.key.serializer=org.apache.kafka.common.serialization.StringSerializer
kafka.conf.producer.value.serializer=org.apache.kafka.common.serialization.StringSerializer
kafka.conf.consumer.key.deserializer=org.apache.kafka.common.serialization.StringDeserializer
kafka.conf.consumer.value.deserializer=org.apache.kafka.common.serialization.StringDeserializer
kafka.conf.consumer.group.id=oeos
kafka.conf.consumer.enable.auto.commit=false
kafka.conf.consumer.auto.commit.interval.ms=1000
kafka.conf.consumer.session.timeout.ms=30000
kafka.conf.consumer.max.poll.records=1000
kafka.conf.consumer.auto.offset.reset=earliest
kafka.conf.consumer.poll.duration=5s

##########################################################################################

zookeeper.conf.client.servers=10.0.11.88:2181
zookeeper.conf.client.session.timeout=60000

##########################################################################################

es.conf.client.servers=http://10.0.11.101:9200,http://10.0.11.102:9200,http://10.0.11.103:9200
es.conf.setting.index.number_of_shards=5
es.conf.setting.index.number_of_replicas=2
es.conf.setting.index.refresh_interval=5s
es.conf.setting.index.max_result_window=100000